body{
  background-image: url("Media/povobg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
nav{
  background-color: #2d061b !important;
  a{
    color: white !important;
  }
  .nav-btn{
    background-color: #c62828!important;
    color: white !important;
  }
  
}

.herobg{
  background-image: url("Media/povohero.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .herobtn{
    padding: 8px 40px;
    background-color: white!important;
    color: #c62828 !important;
    border: none !important;
  }
  .herobtn:hover{
    background-color: #c62828!important;
    color: white !important;
  }
  .whitebtn{
    background-color: none !important;
    color: white !important;
    border-color: white !important;
    

  }
  .whitebtn:hover{
    background-color: #c62828 !important;
    color: white !important;
    border: none !important;
    

  }
  .token1{
    background-color: #c62828!important;
    color: white!important;
    // border: none!important;
    border-color: #8b0000 !important;
  }
  .token2{
    background-color: #2d061b !important;
    border-color: #8b0000 !important;
    color: white!important;
  }
}
@media screen and (max-width: 600px)
{
  .token2{
    display: none !important;
  }
  .presale{
    padding: 2px 50px !important;
  }
  .staking{
    background-color:#ffc107;
    padding: 2px 28px !important;
  }
  .liquidity{
    background-color: rgb(91 63 144);
  padding: 2px 19px !important;

  }
  .advisor{
    background-color: rgb(200 30 80);
    padding: 2px 13px !important;

  }
  .airdrop{
    background-color: rgb(235 56 116);
    padding: 2px 9px !important;
  }
  .gaming{
    background-color: rgb(47 172 206);
    padding: 2px 9px  !important;
  }
  .team{
    background-color: rgb(245 140 139);
    padding: 2px 5px !important;
  }
  
}








.footerbg{
  background-color: #2d061b;
  color: white ;
  .povofooter{
    display: flex;
  }
  .footericons{
    display: flex;
    align-items: center;
  }
}
.faq{
  color: white;
}

.workbg{
  background-color: #2d061b;

}

.stakingbg{
  background-image: url("Media/staking.jpg");
  width: 100%;
  background-repeat: no-repeat;
  // padding-top: 70px!important;
  //   padding-bottom: 70px!important;
  background-size: cover;
  color: white;
  .stakeplatform{
    padding-top: 200px ;
    padding-bottom: 200px ;
  }
  .povo{
    color: #8b0000;
  }
  .platform{
    color:white;
  }
  
}

.missionbg{
  background-image: url("Media/staking.jpg");
  background-repeat: no-repeat;
  padding-top: 120px!important;
    padding-bottom: 160px!important;
  background-size: cover;
  color: white;
  // .mission{
  //   padding-top: 200px ;
  //   padding-bottom: 200px ;
  // }
  // .missionpara{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  // }
  .povo{
    color: #8b0000;
  }
  .missionplatform{
    color:white;
  }
  img{
    width: 400px;
  }
  .missionimge{
    display: flex;
    align-items: center;
  }

}

.visionbg{
  background-image: url("Media/vision.jpg");
  background-repeat: no-repeat;
  padding-top: 70px!important;
  padding-bottom: 70px!important;
  background-size: cover;
  color: white;
  .povo{
    color: #8b0000;
  }
  .vissionplatform{
    color:white;
  }

}
.roadmapbg{
  background-color: black;
}

.rugpulbg{
  background-image: url("Media/nft.png");
  background-repeat: no-repeat;
  padding-top: 70px!important;
  padding-bottom: 70px!important;
  background-size: cover;
  color: white;
  .povo{
    color: #8b0000;
  }
  .rugpulpara{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    // justify-content: center;
    
  }
  img{
    width: 400px;
  };

}

.benefitbg{
  background-image: url("Media/nft.png");
  background-repeat: no-repeat;
  padding-top: 70px!important;
  padding-bottom: 70px!important;
  background-size: cover;
  color: white;
  .listpara{
    list-style: square;
  }
  .benefitpara{
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;

  }

}
.platform{
  color: white;
  padding-bottom: 130px;
  .povo{
    color: #8b0000;
  }
  .Readmore{
    background-color: white !important;
    border: none !important;
    border-radius: 10px;
    color:  #8b0000 !important;
    padding: 12px;
  }
}

.yahoobg{
  background-color: black;
  .yahoo{
    width: 280px;
  }
  .benzinga{
    width: 260px;
  }
}
.btnmore{
  bottom: 0 !important;
}

.friendbg{
  background-color: black;
  color: white;
  .povo{
    color: #8b0000;
  }
}

.tokenomicsbg{
  background-image: url("Media/staking.jpg");
  background-repeat: no-repeat;
  padding-top: 70px!important;
  padding-bottom: 70px!important;
  background-size: cover;
  color: white;
  .token{
    color: #ffc107;
  }
  .supply{
    color: #26a0d3;
  }
  .povo{
    color: #8b0000;
  }
  .presale{
    background-color:rgb(23 108 165);
    padding: 2px 100px;
   
  }
  .staking{
    background-color:#ffc107;
    padding: 2px 60px;
  }
  .liquidity{
    background-color: rgb(91 63 144);
    padding: 2px 50px;

  }
  .advisor{
    background-color: rgb(200 30 80);
    padding: 2px 25px;

  }
  .airdrop{
    background-color: rgb(235 56 116);
    padding: 2px 20px;
  }
  .gaming{
    background-color: rgb(47 172 206);
    padding: 2px 17px;
  }
  .team{
    background-color: rgb(245 140 139);
    padding: 2px 10px;
  }

}

.videobg{
  background-color: black;
  video{
    width: 100%;
    height: 100%;
  }

}
.feature{
  color: white;
  .craft{
    width: 100px !important;
  }
  .item{
    color: #8b0000!important
  }
  .itempara{
    color:black !important;
  }
  .card{
    max-height: 400px !important;
  }
  .itempara2{
    background-color: #8b0000!important;
    color: white !important;
  }
  .gamer{
    width: 70px !important;
  }
  .multivers{
    width: 70px !important;
  }
  .craft{
    width: 70px !important;
  }
  .tokenize{
    width: 80px !important;
  }
  
  
}
.modal-body{
  background-color: black !important;
  color: white!important;
 
}
.modal-header{
  border-bottom: none !important;
  background-color: black !important;
  color: #8b0000!important;

}
.btn-close{
  background-color: white !important;
}
.modal-content {
  margin-top: 100px !important;

}
.readmore{
  border: none !important;
  background: none !important;
  color: #ffc107 !important;
  font-size: larger !important;
}
.modal-backdrop {
  
   --bs-backdrop-bg: none !important;
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c{
  border-bottom: none !important;
}
.styles_faq-row-wrapper__3vA1D{
  border-radius: 12px !important;
}

.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c {
  flex-direction: column;
  position: relative;
  margin-bottom: 14px;
  padding: 12px;
}
.nftbg{
  background-image: url("Media/nft.png");
  background-repeat: no-repeat;
  padding-top: 70px!important;
  padding-bottom: 70px!important;
  background-size: cover;
  color: white;
  .buy{
    padding: 10px 50px !important;
    background-color: #c62828!important;
    color: white !important;
    border: none !important;
  }
}


.react-multi-carousel-list {

  display: flex;
  align-items: center;
  overflow: hidden;

  position: relative;
}
.carousal-list{
  display: flex;
  list-style: none;
  flex-direction: row;
  position: relative;
  backface-visibility:hidden;
  transform-style: preserve-3d;
  will-change: transfer, transition;
}
.carousal-item{
  transform-style: preserve-3d; 
}


